<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>三栏式布局</title>
    <link rel="stylesheet" href="./style2.css">
</head>
<body>
    <div id="team-box">
        <div id="team-logo-box">
            <a href="http://www.hellogeek.net/">
                <img src="./img/3.jpg" alt="">
            </a>
            <span>Hello</span>
        </div>

        <div id="team-introduce-box">
           <h3>introduce your team</h3>
           <p>
                那一年我十四岁。那是一个夏天的黄昏，我穿一条粗布短裤，站在她家门前。腮帮子上起了一片红疙瘩，长沙话称为风陀，奇痒，我不停用手挠。
           </p>
           <p>
                她小我三岁，一个单瘦精致，平时神情总有些高傲的小姑娘。她把我领进屋内，在靠窗的那个角落里，给我一面镜子，让我看看风陀已经有多严重。然后打开药瓶，用棉莶沾上碘酒，我伸手去接，她笑着说：我要帮你擦。
           </p>
           <p>
                觉得她今天有点怪，我盯着她看，她大胆回望我，随即目光有些闪躲，刚用棉莶在我腮帮上涂了几下，忽然间垂下了睫毛，从脖子到脸上迅速泛起一片红潮，她努力忍住，但还是忍不住吃吃地笑起来……                
           </p>
        </div>

        <div id="team-personalLogo-box">
            <a href="http://www.hellogeek.net/">
                <img src="./img/6.jpg" alt="">
            </a>
            <a href="http://www.hellogeek.net/">
                <img src="./img/6.jpg" alt="">
            </a>
            <a href="http://www.hellogeek.net/">
                <img src="./img/6.jpg" alt="">
            </a>
            <a href="http://www.hellogeek.net/">
                <img src="./img/6.jpg" alt="">
            </a>
        </div>

    </div>
    
</body>
</html>